SA_PASSWORD=YourSAStrongPasswordHere!
DB_USER=sa
DB_PASSWORD=YourDBPasswordHere!
DB_SERVER=db
DB_NAME=HealthcareDB
BASE_URL=http://localhost:3001
ADMIN_PASSWORD=YourAdminPassword
USER_DRUGS_PASSWORD=YourDrugsUserPassword
USER_PATIENTS_PASSWORD=YourPatientsUserPassword
